.homeStyles{
    height: 100vh;
    width: 100% ;
    background-image: url('https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg') ;
    background-attachment: fixed;
    background-size: cover;
}
.homeStyles h1{
    color: chartreuse;
}